#caixa{
    width: 100%;
    height: 550px;
    margin-top: 50px ;
    display: flex;
    align-items: center;
    justify-content: center;

}

#caixa-lista{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#caixa-form{
    border-radius: 5px;
    padding: 20px;
    width: 480px;
    margin: 0 auto;
    background-color: white;
    box-shadow: -10px 8px 19px 1px black; ;
    display: flex;
    align-items: center;
    margin-top: 20%;
}

#caixa-tarefas{
    border-radius: 10px;
    width: 380px;
    margin: 0 auto;
    background-color: white;
    box-shadow: -8px 8px 8px 1px black; ;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 25px;
}

body{
    background: linear-gradient(to left, orange,blue);
}

.btn{
    width: 120px;
}

#caixa-form #tarefa{
    width: 280px;
}


@media (max-width: 575.98px) { 
    h1{
        font-size: 30px;
    }

    #caixa{
        width: 80%;
        height: 550px;
        margin-top: 50px ;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    #caixa-form{
        border-radius: 5px;
        padding: 20px;
        width: 280px;
        justify-content: center;
        background-color: white;
        box-shadow: -10px 8px 19px 1px black; ;
        display: flex;
        align-items: center;
        margin-top: 20%;
    }

    #caixa-form #tarefa{
        width: 250px;
    }

    #caixa-tarefas{
        border-radius: 10px;
        width: 280px;
        margin: 0 auto;
        background-color: white;
        box-shadow: -8px 8px 8px 1px black; ;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
        
    }
    

    #caixa-lista{
        width: 500px;
        height: 300px;
        margin-left: 90px;
        display: flex;
        flex-direction: column;
    }

}


@media (min-width: 576px) and (max-width: 767.98px) { 
    h1{
        font-size: 25px;
    }
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    h1{
        font-size: 35px;
    }
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    h1{
        font-size: 40px;
    }
 }


@media (min-width: 1200px) { 
    h1{
        font-size: 55px;
    }
 }